<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Videos</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
{{outlet}}